<style type="text/css">
  #share-buttons img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
  }
  .img-container {
    text-align: center;
    margin-top: 1cm;
  }
  .grid-container {
    display: grid;
  }
</style>

{% extends "base.html" %} {% block content %}

<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-2 sidenav">
      <div class="grid-container">
        <a
          href="{{ url_for(link1, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link1 | nesto | title }}</a
        >
        <a
          href="{{ url_for(link2, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link2 | nesto | title }}</a
        >
        {% if link3 %}
        <a
          href="{{ url_for(link3, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link3 | nesto | title }}</a
        >
        {% else %} {% endif %} {% if link4 %}
        <a
          href="{{ url_for(link4, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link4 | nesto | title }}</a
        >
        {% else %} {% endif %} {% if link5 %}
        <a
          href="{{ url_for(link5, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link5 | nesto | title }}</a
        >
        {% else %} {% endif %}
      </div>
    </div>

    <div class="col-md-8 text-center">
      <h1>{{title | capitalize}}</h1>
      <br />
    </div>

    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>

    <div class="col-md-8 text-center"></div>

    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      {% if rows %} {{rows}}

      <br />
      {{columns}} {% else %} {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-left">
      <div class="img-container">
        {% if image %}
        <img src="{{image}}" alt="Chart" />
        {% else %} {% endif %}
      </div>
    </div>
    <div class="col-md-2 sidenav"></div>
  </div>
  <div class="row">
    <div class="col-md-2 sidenav"></div>

    <div class="col-md-8 text-center"></div>

    <div class="col-md-2 sidenav"></div>
  </div>
</div>

{% endblock %}
