<style type="text/css">
  #share-buttons img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
  }
  .grid-container {
    display: grid;
  }
</style>

{% extends "base.html" %} {% block content %}

<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-2 sidenav">
      <div class="grid-container">
        <a
          href="{{ url_for(link1, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link1 | capitalize}}</a
        >
        <a
          href="{{ url_for(link2, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link2 | capitalize}}</a
        >
        <a
          href="{{ url_for(link3, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{link3 | capitalize}}</a
        >
      </div>
    </div>
    <div class="col-md-8 text-center">
      <h1>{{title | capitalize}}</h1>
      <br />

      {% if switch == 1 %}
      <div class="page-header">
        <a
          href="/dataset/1000"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          Nazad</a
        >
        <a
          href="/dataset/{{num1}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num1}}</a
        >
        <a
          href="/dataset/{{num2}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num2}}</a
        >
        <a
          href="/dataset/{{num3}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num3}}</a
        >
        <a
          href="/dataset/{{num4}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          Naprijed</a
        >
      </div>
      {% else %} {% endif %}

      <div class="moja">
        <ul>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                {% if stat == 1 %}
                <th>Statistics</th>
                <th>Fixed acidity</th>
                <th>Volatile acidity</th>
                <th>Citric acid</th>
                <th>Residual sugar</th>
                <th>Chlorides</th>
                <th>Free sulfur dioxide</th>
                <th>Total sulfur dioxide</th>
                <th>Density</th>
                <th>pH</th>
                <th>Sulphates</th>
                <th>Alcohol</th>
                <th>Quality</th>
                {% else %}
                <th>Fixed acidity</th>
                <th>Volatile acidity</th>
                <th>Citric acid</th>
                <th>Residual sugar</th>
                <th>Chlorides</th>
                <th>Free sulfur dioxide</th>
                <th>Total sulfur dioxide</th>
                <th>Density</th>
                <th>pH</th>
                <th>Sulphates</th>
                <th>Alcohol</th>
                <th>Quality</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for table in tables %}
              <tr>
                {% if stat == 1 %}
                <td>{{table['statistics']}}</td>
                <td>{{table['fixed acidity']}}</td>
                <td>{{table['volatile acidity']}}</td>
                <td>{{table['citric acid']}}</td>
                <td>{{table['residual sugar']}}</td>
                <td>{{table['chlorides']}}</td>
                <td>{{table['free sulfur dioxide']}}</td>
                <td>{{table['total sulfur dioxide']}}</td>
                <td>{{table['density']}}</td>
                <td>{{table['pH']}}</td>
                <td>{{table['sulphates']}}</td>
                <td>{{table['alcohol']}}</td>
                <td>{{table['quality']}}</td>
                {% else %}
                <td>{{table['fixed acidity']}}</td>
                <td>{{table['volatile acidity']}}</td>
                <td>{{table['citric acid']}}</td>
                <td>{{table['residual sugar']}}</td>
                <td>{{table['chlorides']}}</td>
                <td>{{table['free sulfur dioxide']}}</td>
                <td>{{table['total sulfur dioxide']}}</td>
                <td>{{table['density']}}</td>
                <td>{{table['pH']}}</td>
                <td>{{table['sulphates']}}</td>
                <td>{{table['alcohol']}}</td>
                <td>{{table['quality']}}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </ul>
      </div>
    </div>
    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>

    <div class="col-md-8 text-center"></div>

    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center"></div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-left"></div>
    <div class="col-md-2 sidenav"></div>
  </div>
  <div class="row">
    <div class="col-md-2 sidenav"></div>

    <div class="col-md-8 text-center"></div>

    <div class="col-md-2 sidenav"></div>
  </div>
</div>

{% endblock %}
