{% extends "base.html" %} {% block content %}
<style type="text/css">
  
  .grid-container {
    display: grid;
  } 

  .grid-container-2 {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr 1.5fr 1fr 3fr;    
    font-size: 100%;
  }  

  .grid-item-12 {
    grid-column: 3/4;
  }

  .button-font {
    margin-left: 1cm;
    text-align: left;
  }
</style>



<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-2 sidenav">
      <div class="grid-container">
        <a
          href="{{ url_for(link1, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        ><div class="button-font">{{link1 | tocka | title }}</div>
        </a
        >
        <a
          href="{{ url_for(link2, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link2 | tocka | title }}</div></a
        >
        {% if link3 %}
        <a
          href="{{ url_for(link3, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link3 | tocka | title }}</div></a
        >
        {% else %} {% endif %} {% if link4 %}
        <a
          href="{{ url_for(link4, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link4 | tocka | title }}</div></a
        >
        {% else %} {% endif %} {% if link5 %}
        <a
          href="{{ url_for(link5, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link5 | tocka | title }}</div></a
        >
        {% else %} {% endif %} {% if link6 %}
        <a
          href="{{ url_for(link6, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link6 | tocka | title }}</div></a
        >
        {% else %} {% endif %} {% if link7 %}
        <a
          href="{{ url_for(link7, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link7 | tocka | title }}</div></a
        >
        {% else %} {% endif %} {% if link8 %}
        <a
          href="{{ url_for(link8, _external=True) }}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
        <div class="button-font">{{link8 | tocka | title }}</div></a
        >
        {% else %} {% endif %}
      </div>
    </div>
    <div class="col-md-8 text-center">
      <h1>{{title | capitalize}}</h1>
      <br />

      {% if switch == 5 %}
      <div class="page-header">
        <a
          href="/dataset/1000"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          Nazad</a
        >
        <a
          href="/dataset/{{num1}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num1}}</a
        >
        <a
          href="/dataset/{{num2}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num2}}</a
        >
        <a
          href="/dataset/{{num3}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          {{num3}}</a
        >
        <a
          href="/dataset/{{num4}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >
          Naprijed</a
        >
      </div>
      {% else %} {% endif %} {% if switch != 2 %}
      <div class="moja">
        <ul>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                {% if switch == 0 %}
                <th>Fixed acidity</th>
                <th>Volatile acidity</th>
                <th>Citric acid</th>
                <th>Residual sugar</th>
                <th>Chlorides</th>
                <th>Free sulfur dioxide</th>
                <th>Total sulfur dioxide</th>
                <th>Density</th>
                <th>pH</th>
                <th>Sulphates</th>
                <th>Alcohol</th>
                <th>Quality</th>
                {% elif switch == 1 %}
                <th>Statistics</th>
                <th>Fixed acidity</th>
                <th>Volatile acidity</th>
                <th>Citric acid</th>
                <th>Residual sugar</th>
                <th>Chlorides</th>
                <th>Free sulfur dioxide</th>
                <th>Total sulfur dioxide</th>
                <th>Density</th>
                <th>pH</th>
                <th>Sulphates</th>
                <th>Alcohol</th>
                <th>Quality</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for table in tables %}
              <tr>
                {% if switch == 0 %}
                <td>{{table['fixed acidity']}}</td>
                <td>{{table['volatile acidity']}}</td>
                <td>{{table['citric acid']}}</td>
                <td>{{table['residual sugar']}}</td>
                <td>{{table['chlorides']}}</td>
                <td>{{table['free sulfur dioxide']}}</td>
                <td>{{table['total sulfur dioxide']}}</td>
                <td>{{table['density']}}</td>
                <td>{{table['pH']}}</td>
                <td>{{table['sulphates']}}</td>
                <td>{{table['alcohol']}}</td>
                <td>{{table['quality']}}</td>
                {% elif switch == 1 %}
                <td>{{table['statistics']}}</td>
                <td>{{table['fixed acidity']}}</td>
                <td>{{table['volatile acidity']}}</td>
                <td>{{table['citric acid']}}</td>
                <td>{{table['residual sugar']}}</td>
                <td>{{table['chlorides']}}</td>
                <td>{{table['free sulfur dioxide']}}</td>
                <td>{{table['total sulfur dioxide']}}</td>
                <td>{{table['density']}}</td>
                <td>{{table['pH']}}</td>
                <td>{{table['sulphates']}}</td>
                <td>{{table['alcohol']}}</td>
                <td>{{table['quality']}}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-center">
      <div class="grid-container-2">
        <div class="grid-item-12">
       
            <ul>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                   {% if switch == 2 %}
                      <th>Prave vrijednosti</th>
                      <th>Procjene</th>                
                  </tr>
                </thead>
                <tbody>
                  {% for table in tables %}
                  <tr>
              <td>{{table['Prave vrijednosti']}}</td>
                      <td>{{table['Procjene']}}</td>
                      {% endfor %}
                      {% endif %}
                  </tr>             
                </tbody>
              </table>
            </ul>
         
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 sidenav"></div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center"></div>
  </div>

  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-left"></div>
    <div class="col-md-2 sidenav"></div>
  </div>
  
</div>

{% endblock %}
